.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #05448b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.course-table{
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

table {
  width: 90%;
}

th{
  border: 1px solid white;
  font-size: 20px !important;
}
tr {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 18px;
}

th {
  font-size: 30px;
}

caption {
  margin-bottom: -10px;
}

.unhealthy {
  border: 1px solid red;
  background-color: red;
}

.undocumented {
  border: 1px solid #f38910;
  background-color: #f38910;
}

/* .healthy {
  border: 3px solid green;
} */

.top-nav {
  background-color: #f38910;
  color: #003d59;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.prof-name {
  color: white !important;
}
.prof-name:hover{
  background-color: #f38910 !important;
}

.top-nav a {
  float: left;
  display: block;
  color: #003d59;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.top-nav a:hover {
  background: #05448b;
  color: white;
  text-decoration: none;
}

.temp-tables {
  width: 80% !important;
  max-width: 90% !important;
  margin-left: 0px;
  margin-right: 0px;
  position: absolute !important;
  top: 10%;
  z-index: 0;
}

#table-container {
  align-items: baseline;
}

#table-container caption{
  color: white;
}

.course-table th{
  color:#d2e3ec;
}

.health-record{
  color: black;
  text-align: left;
  margin-right: 9px;
  margin-left: 5px;
  /* width: fit-content; */
  width: 250px;
}

.popup-content {
  width: auto !important;
}

.status-healthy {
  color: green;
}

.status-unhealthy {
  color: red;
}

.health-record a {
  text-decoration: none;
}

.history {
  width: 200px;
  height: 300px;
  overflow: scroll;
  font-size: medium;
}

.latest-record {
  font-size: medium;
}

.health-record-popup-content {
  padding-left: 15px !important;
}

.health-record .name:hover {
  cursor : pointer;
}

.latest-record img {
  width: 100%;
  height: auto;
}

html {
  height: 100%;
  color: #05448b;
  background: #05448b;
}

body {
  height: 100%;
  overflow: auto;
  color: #05448b;
  background: #05448b;
}